development: &default_settings
  sender: the_sender
  email: the_email
  account: the_account
  password: "the_password"
  #domain: the_domain
  port: the_port
  address: the_server

staging:
  <<: *default_settings

test:
  <<: *default_settings

production:

  <<: *default_settings
  sender: <%= ENV['SENDER'] %>
  email: <%= ENV['EMAIL'] %>
  account: <%= ENV['ACCOUNT'] %>
  password: <%= ENV['PASSWORD'] %>
  domain: <%= ENV['DOMAIN'] %>
  address: <%= ENV['ADDRESS'] %>
  port: <%= ENV['PORT'] %>
